{% extends 'base.html' %}

{% block head %}

<title>BoardGame Record</title>

{% endblock %}

{% block body %}


		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-2 text-gray-800">기록,편집</h1>
				<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Download_excel(comming soon)</a>
			</div>

			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">
						<div>
							날짜 : <input type="date" id="Date" onchange="send_date()"> <span id="Day"></span>
						</div>
					</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
							<table class="table table-bordered" id="dataTable">
								<thead>
									<tr>
										<th class="d-none d-md-table-cell" >seq</th>
										<th class="d-none d-md-table-cell">BoardGame</th>
										<th class="d-md-none">Game</th>
										<th>players</th>
										<th>delete</th>
										<th>up/down</th>
									</tr>
								</thead>
								<tbody id = "dataTableBody">

								</tbody>
							</table>
						</form>
						<div id="record_data">
							<input type="text" name='boardgame' placeholder="boardgame">
							<input type="text" name='players' placeholder="player1,player2,player3...">
							<button type="button" onclick="addRecord()">add</button>
						</div>
					</div>
				</div>
			</div>


		</div>
		<!-- /.container-fluid -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/index_record.js') }}"></script>

{% endblock %}

    