{% extends 'base.html' %}

{% block head %}
<title>BoardGame Record</title>
{% endblock %}

{% block body %}
<div class="content">
    <a href="/">기록하기</a>
    <a href="/showall">기록보기</a>
    <a href="/statistic">통계보기</a>
    <hr>
</div>

<table>
    <tr>
        <td></td>
        <td>날짜</td>
        <td>보드게임</td>
        <td>플레이어</td>
        <td>수정</td>
        <td>삭제</td>
    </tr>
    {% for i in table %}
    <tr>
        <form action='/showall' method="POST">
            <td><input type="hidden" name='idx' value={{i[0]}}></td>
            <td><input type="date" name='date' value={{i[1]}}></td>
            <td><input type ="text" name='boardgame' value = {{i[2]}}></td>
            <td><input type ="text" name='players' value={{i[3]}}></td>
            <td><input type=submit name='action' value='update'></td>
            <td><input type=submit name='action' value='delete'></td>
        </form>
    </tr>
    {% endfor %}
</table>


{% endblock %}

{% block script %}

{% endblock %}

    