{% extends 'base.html' %}

{% block head %}
<title>statistics_members</title>
{% endblock %}

{% block body %}


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-2 text-gray-800">통계보기</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    <div>
                        날짜 : <input type="date" id="Date" onchange="send_date()"> <span id="Day"></span>
                    </div>
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->

{% endblock %}

{% block script %}

{% endblock %}

    